# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.log
db.sqlite3
media/

# Virtual Environment
venv/
env/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# Node (if frontend exists)
node_modules/
dist/
build/
